body{
	margin-top:50px;
	margin-right:50px;
	margin-bottom:50px;
	margin-left:50px;
	padding-top:50px; 
	padding-right:50px; 
	padding-bottom:50px;  
	padding-left:50px;  
}

p{
}

a:active{
	text-decoration:underline;
}

a:hover{
	text-decoration:underline;
	color:#5F6B61;
}

a:visited{
	text-decoration:underline;
	color:#5F6B61;
}

	

#image{
	
}

#networks{
	
}

#menu{
	
}

#header{
	
}

#contact_address{

	font-family:"Courier New", Courier, monospace;
	font-size:13px;

}

#interests{

	font-family:"Lucida Handwriting";	
	
}

#cv{

	font-family:"Trebuchet MS", Helvetica, sans-serif;	
	
}

#school_background{
}

#work_experiences{
}


h1{
	font-family:"Trebuchet MS", Helvetica, sans-serif;	
	font-size:20px;
}

h2{
	font-family:"Trebuchet MS", Helvetica, sans-serif;

}

h3{
	font-family:"Lucida Handwriting";
	font-size:18px;
}

h4{
	font-family:"Lucida Handwriting";
	font-size:20px;
}

#networks img {
	padding-top: 13px;
}

.worpress{

}

.linkedin{
}

.twitter{
	
}

.year_experience{
	font-style:italic;
	color:#5F6B61;
	
}

.name_company{
	font-weight:bold;
	font-size:16px; 
	 
	color:#5E9DC8;
}

.position{
	font-style:normal;
}

.responsabilities{
	font-style:normal;
}

.school_background{
	float:right;
}

.year_studies{
	font-style:italic;
	color:#5F6B61; 

}

.diploma{
	font-weight:bold;
	font-size:16px; 
	color:#5E9DC8;
}

.column-left{
	float:left;
	text-align: center;
}

.main-content{
	margin: 0px 0px 0px 131px;
	float: left;
}

.university{
	font-style:normal;
}

.detail{
	font-style:normal;
}

.research{
	font-style:normal;
}

